<div>
    <Grid
      :name="tableName"
      :rows="rows"
      :label="tableLabel"
      :primaryKey="primaryKey"
      :buttonActions="buttonActions"
      :buttonRowActions="buttonRowActions"
      :pagination="pagination"
      :loading="loading"
      @update:pagination="(pagination = $event), getData()"
      @update:fieldFilters="(fieldFilters = $event), getData()"
      @update:selectedRow="(teste2($event))"
      :fieldFilters="fieldFilters"
      :columns="columns"
      @update:table="teste($event)"
      :summarableResults="summarableResults"
    ></Grid>
  </div>